.champion-grid {
        display: grid;
        background-color: gray;
        padding: 5px;
        width: 820px;
        height: 540px;
        border: 0;
        overflow-y: scroll;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: 1fr;
}

.select-button {
        background-color: gray;
}